html,
body {
    background-color: #ff4d4d;
    background-image: linear-gradient(to right, #ff4d4d, #9900cc);
    font-family: "Poppins", sans-serif;
    margin: 0;
    height: 100%;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 3%;
    margin-left: 4%;
    margin-right: 4%;
    line-height: 2;
    text-align: center;
    color: white;
}