body {
    background-color: #ff4d4d3f;
    background-image: linear-gradient(to right, #ff4d4d62, #9900cc54);
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.heading {
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 42px;
    text-transform: uppercase;
}

.code {
    background-color: #eee;
    border: 1px solid #999;
    color: rgb(43, 39, 39);
    display: block;
    padding: 20px;
    overflow-wrap: break-word;
}

.slide {
    display: block;
    margin-bottom: 30px;
    max-width: 100%;
    overflow-x: auto;
    font-size: 19px;
    background-color: whitesmoke;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(175, 174, 174, 0.863);
  }
  
 nav>ul>li {
    float: left;
  }
  
  nav>ul>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgba(206, 203, 203, 0.87);
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }